/*RESPONSIVE */
	.page-wp {
		width: auto;
		margin: 0;
	}
	global#content{
		width:100%;
	}
	.global#content article.entero{
		width:100%;
	}
	article.entero .contenidoImg .extend{
		width:100%;
	}
	article.entero .contenidoImg .extend .ContenedorClip{
		width:100%;
		margin: 0;
	}
	.global#content article.mini, #related_posts article{
		width:100%;
		display:block;
	}
	.global#content article.mini.cat{
		width:33%;
		display:inline-block;
		margin-bottom:40px;
	}
	.global#content article.basico, .global#content .PublicidadEntrePost{
		width:100%;
		display:block;
	}
	article.entero .contenidoImg .extend img{
		bottom:0;
	}
	article.single .img-cabecera img{
		top:0;
	}
	.Contenidostickys{
		display:none;
	}
	#access ul {
		list-style: none;
		margin: 0;
		padding-left: 0;
		display:none;
	}
	#sidebar-header{
		width:100%;
	}
	#sidebar-header aside#search-2{
		display:block;
		vertical-align:top;
		margin:0 20px 0 0;
	}
	#sidebar-header aside#siguenos_wg-2{
		display:block;
		vertical-align:top;
		margin:10px 25px 0 0;
	}
	footer#colophon{
		width:100%;
	}
	footer#colophon2{
		width:100%;
	}
	#sidebar-footer .widget_categories{
		width:100%;
		padding:0 0 0 20px;
	}
	#sidebar-footer .nsu_widget{
		width:70%;
		padding:0 20px 0 20px;
	}
	#sidebar-footer .widget_siguenos_wg{
		width:30%;
		padding:0 0 0 20px;
	}
	article.single.hrecipe .Cinstructions{
		display:block;
		width:80%;
		margin:20px 10% 0 10%;
	}
	article.single.hrecipe .SidebarSingleingredients{
		display:block;
		width:80%;
		margin:0 10% 0 10%;
		position:relative;
		text-align:center;
	}
	.vvqbox{
		width:80%!important;
		margin:20px 10% 20px 10%!important;
		padding:0!important;
	}
	#sidebar-desktop{
		display:none;
	}
	
@media screen and (max-width:640px){ 
	.global#content{
		width:640px;
	}
	#sidebar-header{
		width:640px;
	}
	footer#colophon{
		width:640px;
	}
	footer#colophon2{
		width:640px;
	}
	
}	
@media screen and (min-width:700px){ 
	.global#content article.basico, .global#content .PublicidadEntrePost{
		width:100%;
		display:block;
	}
	.global#content article.mini, #related_posts article{
		width:50%;
		display:inline-block;
	}
	.Contenidostickys{
		display:block;
	}
	/*#access li {
		display: block;
		margin:0 15px 0 0;
	}*/
	#access ul {
		list-style: none;
		margin: 0;
		padding-left: 0;
		display:block;
	}
	#access li#menu-item-8700{
		display: inline-block;
		margin:0 0 0 0;
		height:100px;
		background-color:#fc7700;
	}
	#access li#menu-item-8700:hover{
		background-color:#c25c00;
	}
	#access li#menu-item-8700 a{
	}
	#access li#menu-item-8700 a:hover{
		background-color:transparent;
	}
	#access li#menu-item-8697{
		display: inline-block;
		margin:0 15px 0 0;
	}
	#access li#menu-item-8698{
		display: inline-block;
		margin:0 15px 0 0;
	}
	#access li#menu-item-8699{
		display: inline-block;
		margin:0 15px 0 0;
	}
	#access li#menu-item-10598{
		display: inline-block;
		margin:0 15px 0 0;
	}
	#sidebar-header aside#search-2{
		display:inline-block;
		vertical-align:top;
		margin:0 15px 0 0;
	}
	#sidebar-header aside#siguenos_wg-2{
		display:inline-block;
		vertical-align:top;
		margin:0 15px 0 0;
	}
	.global#content article.mini.cat{
		width:25%;
		display:inline-block;
		margin-bottom:40px;
	}
	
}
@media screen and (min-width:920px){ 
	.global#content article.basico, .global#content .PublicidadEntrePost{
		width:50%;
		display:inline-block;
	}
	.global#content article.mini, #related_posts article{
		width:25%;
		display:inline-block;
	}
	article.entero .contenidoImg .extend img{
		top:-50%;
	}
	article.single .img-cabecera img{
		top:-20%;
	}
	#access li#menu-item-8700{
		display: inline-block;
		margin:0 0 0 0;
		height:auto;
		background-color:#fc7700;
	}
	#access li#menu-item-8700:hover{
		background-color:#c25c00;
	}
	#access li#menu-item-8700 a{
	}
	#access li#menu-item-8700 a:hover{
		background-color:transparent;
	}
	#access li#menu-item-8697{
		display: inline-block;
		margin:0 15px 0 0;
	}
	#access li#menu-item-8698{
		display: inline-block;
		margin:0 15px 0 0;
	}
	#access li#menu-item-8699{
		display: inline-block;
		margin:0 15px 0 0;
	}
	#access li#menu-item-10598{
		display: inline-block;
		margin:0 15px 0 0;
	}
	/*#access li {
		display: inline-block;
		margin:0 15px 0 0;
	}*/
	#sidebar-footer .widget_categories{
		width:50%;
	}
	#sidebar-footer .nsu_widget{
		width:35%;
		padding:0 20px 0 20px;
	}
	#sidebar-footer .widget_siguenos_wg{
		width:15%;
		padding:0 0 0 20px;
	}
	article.single.hrecipe .Cinstructions{
		display:inline-block;
		width:55%;
		margin:20px 3% 0 10%;
	}
	article.single.hrecipe .SidebarSingleingredients{
		display:inline-block;
		width:25%;
		margin:0 7% 0 0;
		position:absolute;
		top:0;
		right:0;
		text-align:left;
	}
	.vvqbox{
		width:55%!important;
		margin:20px 3% 20px 10%!important;
		padding:0!important;
	}
	
}
@media screen and (min-width:1020px){ 
	#sidebar-desktop{
		display:block;
	}
}
@media screen and (min-width:1200px){ 
	.page-wp {
		width: 1200px;
		margin: 0 auto;
	}
	.global#content article.entero{
		width:100%;
	}
	article.entero .contenidoImg .extend{
		width:100%;
		min-width:1200px;
	}
	article.entero .contenidoImg .extend .ContenedorClip{
		width: 1200px;
		margin: 0 auto;
	}
	#sidebar-header aside#search-2{
		display:inline-block;
		vertical-align:top;
		margin-right:20px;
	}
	#sidebar-header aside#siguenos_wg-2{
		display:inline-block;
		vertical-align:top;
		margin-right:0;
	}
	#sidebar-footer .widget_categories{
		padding:0 0 0 0;
	}
	.global#content article.mini.cat{
		width:20%;
		display:inline-block;
		margin-bottom:40px;
	}
}

/* */
cite{
	font-style:normal;
}
.relative{
	position:relative;
}
.clear {
	clear: both; 
	float: none;
}
body {
	margin: 0;
	font-size:12px;
	line-height:14px;
	font-family:'Open Sans', sans-serif;
	color: #7F7E79;
	background-color:#fff2e2;
}
a {
	color: #a21b3e;
	text-decoration: none;
}
a:hover {}
a:active { 
}

/* HTML5 Fix */
header, nav, article, footer, address { 
	display:block; 
}
/*///////////////////////////////////////////////////////
HEADER 
///////////////////////////////////////////////////////*/
#branding {
	background:url(images/fondo-rojo.jpg) repeat #a91231;
}
/* Logo */
#branding h1 {
	margin:0;
	padding:0;
	text-indent: -99999.999em;
	position:absolute;
	left:0;
	top:-15px;
	width: 249px;
	height: 158px;
	z-index:1000;
}
#branding h1 a {
	display: block;
	width: 249px;
	height: 158px;
	background: url(images/logoDR.png) no-repeat;
}
#branding h1 a:hover {border:0;}
/* Menu */
#access {
	display: block;
	width: 100%;
	text-align: right;
}



#access a {
	color: #fff;
	font-size:18px;
	line-height:18px;
	font-family:'Della Respira', serif;
	text-decoration: none;
	display: block;
	padding: 0;
	margin:0;
	padding: 15px;	
}
#access li a:hover{
	background-color:#6b0c1f
}

#access li.current_page_item {	
}
#access li.current_page_item a {
}
/*///////////////////////////////////////////////////////
CONTENT
///////////////////////////////////////////////////////*/
/*sidebar top */
#sidebar-header{
	text-align:right;
	padding:10px 0 0 0;
}

#sidebar-header input[type="text"]{
	display:inline-block;
	width: 180px;
	border: 1px solid #a91231;
	color: #363636;
	background-color: #FFF;
	font-size: 11px;
	padding: 7px;
	margin: 0 0 10px 0;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
	vertical-align:top;
}
#sidebar-header input[type="submit"]{
	display:inline-block;
	width: 30px;
	height:24px;
	border: none;
	font-size:0;
	padding: 0;
	margin: 0 0 10px 5px;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
	background:url(images/lupaDR.png) no-repeat;
	vertical-align:top;
	cursor:pointer;
}
#sidebar-header .widget_siguenos_wg h1{
	display:inline-block;
	font-size:14px;
	font-weight:400;
	margin:0;
	padding:8px 0 0 0;
	color:#2c2c2d;
	vertical-align:top;
}
#sidebar-header ul.social{
	display:inline-block;
	margin:0;
	padding:0;
	vertical-align:top;
}
#sidebar-header ul.social li{
	display:inline-block;
}
#sidebar-header ul.social li a {
	background: url(images/social.png) no-repeat;
	padding: 4px 0 4px 27px;
	margin: 3px 0;
	display: block;
	color:#FFF;
	font-size:0;
	height:16px;
}
#sidebar-header ul.social li.facebook a {background-position: 0   -106px;}
#sidebar-header ul.social li.twitter a  {background-position: 0 -133px;}
#sidebar-header ul.social li.youtube a  {background-position: 0 -158px;}
#sidebar-header ul.social li.rss a      {background-position: 0 -184px;}

#sidebar-header ul.social li.facebook a:hover {background-position: 0   0px;}
#sidebar-header ul.social li.twitter a:hover  {background-position: 0 -27px;}
#sidebar-header ul.social li.youtube a:hover  {background-position: 0 -53px;}
#sidebar-header ul.social li.rss a:hover      {background-position: 0 -79px;}
/**/
.global#content{
	
	margin:20px 0 0 0;
	background-color: #FFF;
	font-size:0;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
	padding:30px;
}

/*PUBLICIDAD ENTRE POST*/
.global#content .PublicidadEntrePost .textwidget div{
	margin:0 auto;
}
.global#content .PublicidadEntrePost h1{
	color:#a21b3e;
	font-weight:normal;
	font-size:20px;
	line-height:20px;
	text-align:left;
	font-family:'Della Respira', serif;
	padding:10px 0 10px 0;
	margin:0;
}

/* POST ENTERO */
.global#content article.entero{
	display:block;
	vertical-align:top;
	padding:0 20px 0 20px;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
article.entero .entry-categorias{
	display:block;
	width:100%;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
	text-align:left;
	padding:10px 0 0 0;
	position:relative;
	margin:0 0 0 0;
}
article.entero .entry-categorias ul{
	margin: 0;
	padding: 0;
}
article.entero .entry-categorias ul li{
	padding:0;
	margin:0 10px 0 0;
	font-size:14px;
	font-weight:600;
	display:inline-block;
	color:#000;
}
article.entero .entry-categorias ul li a:hover{
	color:#FFF;
	background-color:#a51a41;
}
article.entero .entry-categorias ul li a{
	display:block;
	padding:10px 20px 10px 20px;
	background-color:#fedeab;
	color:#2e2b32;
	text-align:center;
}
article.entero .contenidoImg{
	width:100%;
	height:360px;
	display:block;
	text-align:right;
	margin:0 0 60px 0;
}
article.entero .contenidoImg .extend{
	height:367px;
	position:absolute;
	overflow:hidden;
	left:0;
	padding:7px 0 0 0;
	background-color:#ffdfaa;
}
article.entero .contenidoImg .inf{
	width:100%;
	height:7px;
	position:absolute;
	left:0;
	margin:367px 0 0 0;
	background-color:#ffdfaa;
}
article.entero .contenidoImg .extend>a{
	width:100%;
	position:absolute;
	bottom:0;
	left:0;
	height:367px;
	z-index:0;
	overflow:hidden;
}
article.entero .contenidoImg .extend img{
	width:100%;
	position:absolute;
	left:0;
	z-index:0;
}
article.entero .contenidoImg .extend .LinkTotal{
	width:100%;
	position:absolute;
	top:7px;
	left:0;
	z-index:5;
	height:367px;
}
article.entero .contenidoImg .extend .ContenedorClip{
	height:100%;
	z-index:1;
	position:relative;
	text-align:right;
	display:block;
}
article.entero .contenidoImg .extend .ContenedorClip .Clip{
	width: 278px;
	margin:50px 30px 0 0;
	height:219px;
	display:inline-block;
	background:url(images/clipDR.png) no-repeat;
	padding:40px 20px 20px 20px;
}
article.entero .contenidoImg .extend .ContenedorClip .Clip h1 a{
	color:#a51a41;
	font-weight:normal;
	font-size:20px;
	line-height:20px;
	font-family:'Della Respira', serif;
}
article.entero .contenidoImg .extend .ContenedorClip .Clip .entry-content{
	display:block;
	position:relative;
	font-size:12px;
	line-height:16px;
	font-weight:400;
	padding:0 0 30px 0;
}
article.entero .contenidoImg .extend .ContenedorClip .Clip .entry-content a.more-link{
	position:absolute;
	right:0;
	bottom:0;
	font-size:14px;
	line-height:14px;
	color:#a91231;
	font-weight:800; 

}

/* POST BASICO */
.global#content article.basico{
	vertical-align:top;
	padding:0 20px 0 20px;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
article.basico h1{
	height:60px;
	position:relative;
}
article.basico h1 a{
	color:#a51a41;
	font-weight:normal;
	font-size:26px;
	line-height:26px;
	font-family:'Della Respira', serif;
	position:absolute;
	bottom:0;
}
article.basico img{
	width:100%;
	height:100%;
	display:block;
}
article.basico .entry-content{
	display:inline-block;
	width:60%;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
	padding:10px 15px 20px 0px;
	vertical-align:top;
	position:relative;
	margin:0 0 60px 0;
}
article.basico .entry-categorias{
	display:inline-block;
	width:40%;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
	text-align:right;
	padding:10px 0 20px 0px;
	vertical-align:top;
	position:relative;
	margin:0 0 60px 0;
}
article.basico .entry-categorias ul{
	margin: 0;
	padding: 0;
}
article.basico .entry-categorias ul li{
	padding:0;
	margin:0 0 5px 10%;
	width:90%;
	font-size:14px;
	font-weight:600;
	display:block;
	color:#000;
}
article.basico .entry-categorias ul li a:hover{
	color:#FFF;
	background-color:#a51a41;
}
article.basico .entry-categorias ul li a{
	display:block;
	padding:10px 5% 10px 5%;
	width:90%;
	background-color:#fedeab;
	color:#2e2b32;
}
article.basico .entry-content{
	font-size:14px;
	line-height:18px;
	font-weight:400;
}
article.basico .entry-content a.more-link{
	position:absolute;
	right:0;
	bottom:0;
	font-size:14px;
	line-height:14px;
	color:#a91231;
	font-weight:800; 

}

/* POST MINI Y RELATED POST */
.yarpp-related #related_posts{
	padding:0 30px 30px 30px;
}
.global#content h2, #related_posts h3{
	width:100%;
	margin:0 0 15px 0;
	font-size:0;
	color:#a51a41;
	font-weight:normal;
	font-size:25px;
	line-height:25px;
	font-family:'Della Respira', serif;
	padding:0;
}
.global#content article.mini, #related_posts article{
	vertical-align:top;
	padding:0 20px 0 20px;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
article.mini h1 a, #related_posts article h1 a{
	color:#333333;
	font-weight:normal;
	font-size:17px;
	line-height:17px;
	font-family:'Della Respira', serif;
	padding:15px 0 0 0;
	display:block;
	text-align:left;
}
#related_posts article h1{
	margin:0;
}
article.mini img, #related_posts article img{
	width:100%;
	height:100%;
	display:block;
}
article.mini .entry-content, #related_posts article .entry-content{
	font-size:12px;
	line-height:16px;
	font-weight:400;
	display:inline-block;
	width:100%;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
	padding:0 15px 20px 0px;
	vertical-align:top;
	position:relative;
	margin:0 0 40px 0;
}
article.mini .entry-content a.more-link, #related_posts article .entry-content a.more-link{
	position:absolute;
	right:0;
	bottom:0;
	font-size:14px;
	line-height:14px;
	color:#a91231;
	font-weight:800; 

}
/* POST SINGLE */
.contenidosingle.global#content{
	padding:0;
	margin:10px 0 0 0;
	position:relative;
}
article.single .img-cabecera{
	display:block;
	width:100%;
	height:490px;
	overflow:hidden;
	position:relative;
}
article.single .img-cabecera img{
	position:absolute;
	left:0;
	width:100%;
}
article.single .img-cabecera .entry-categorias{
	position:absolute;
	width:20%;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
	text-align:right;
	top:20px;
	right:20px;
}
article.single .entry-categorias ul{
	margin: 0;
	padding: 0;
}
article.single .entry-categorias ul li{
	padding:0;
	margin:0 0 5px 10%;
	width:90%;
	font-size:14px;
	font-weight:600;
	display:block;
	background-color:#fedeab;
	color:#000;
}
article.single .entry-categorias ul li a:hover{
	color:#FFF;
	background-color:#a51a41;
}
article.single .entry-categorias ul li a{
	display:block;
	padding:10px 5% 10px 5%;
	width:90%;
	background-color:#fedeab;
	color:#2e2b32;
}

article.single .entry-header h1{
	color:#a51a41;
	font-weight:normal;
	font-size:34px;
	line-height:34px;
	text-align:center;
	font-family:'Della Respira', serif;
	padding:0;
	margin:20px 0 10px 0;
}
article.single .entry-meta{
	text-align:center;
	font-size:11px;
}
article.single .entry-meta span{
	color:#a51a41;
	font-weight:600;
}
article.single.hrecipe .entry-content>p{
	font-size:14px;
	line-height:18px;
	display:block;
	width:80%;
	margin:20px 10% 20px 10%;
	padding:0;
}
article.single.hrecipe .entry-content>h2{
	display:block;
	width:80%!important;
	margin:20px 10% 20px 10%!important;
	padding:0!important;
}
/* FIRMA Y FIN DE POST SINGLE */
.vvqbox{
	padding:0!important;
}
.vvqbox object{
	width:100%!important;
}
article.single.hrecipe .firma{
	font-size:14px;
	line-height:18px;
	display:block;
	width:80%;
	margin:20px 10% 20px 10%;
	padding:50px 150px 0 0;
	height:125px;
	text-align:right;
	border-bottom:#f2f2f2 10px solid;
	background:url(images/firmaDR.png) no-repeat right;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
/**/

article.single.hrecipe>.entry-content>p:first-child{
	width:80%;
	margin:20px 10% 20px 10%;
	font-size:18px;
	line-height:22px;
	text-align:center;
	background:url(images/comillasDR.png) no-repeat;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
	padding:10px 0 0 26px;
}

article.single.hrecipe .entry-content ul{
	font-size:14px;
	line-height:18px;
	display:block;
	width:55%;
	margin:20px 3% 20px 10%;
	padding:0;
}
article.single.hrecipe .entry-content .yarpp-related p{
	font-size:12px;
	line-height:18px;
	display:block;
	width:100%;
	margin:10px 0 0 0;
	padding:0;
}
article.single.hrecipe .entry-content p.seo_only{
	font-size:0;
	line-height:0;
	display:none;
}
article.single.hrecipe #recipress_recipe{
	position:relative;
	min-height:900px;
}
article.single.hrecipe .Cinstructions{
	font-size:14px;
	line-height:18px;
	padding:0;
	border-top:#f2f2f2 10px solid;
}
article.single.hrecipe .Cinstructions h3{
	color:#a51a41;
	font-weight:normal;
	font-size:24px;
	line-height:24px;
	text-align:left;
	font-family:'Della Respira', serif;
	padding:0;
	margin:20px 0 10px 0;
}
article.single.hrecipe .Cinstructions img{
	margin:20px 0 0 0;
	width:100%;
	height:100%;
	
}
article.single.hrecipe .Cinstructions ol {
    counter-reset:li; /* Initiate a counter */
    margin-left:0; /* Remove the default left margin */
    padding-left:0; /* Remove the default left padding */
}
article.single.hrecipe .Cinstructions ol > li {
    position:relative; /* Create a positioning context */
    margin:0 0 20px 0; /* Give each list item a left margin to make room for the numbers */
    padding:4px 0; /* Add some spacing around the content */
    list-style:none; /* Disable the normal item numbering */
}
article.single.hrecipe .Cinstructions li ol,
article.single.hrecipe .Cinstructions li ul {margin-top:6px;}
article.single.hrecipe .Cinstructions ol ol li:last-child {margin-bottom:0;}
article.single.hrecipe .Cinstructions li{
	font-size:14px;
	line-height:22px;
	margin:0 0 30px 0;
}
article.single.hrecipe .SidebarSingleingredients{
	vertical-align:top;
	padding:20px 0 20px 0;
	
}
article.single.hrecipe #sidebar-single{
	font-size:14px;
	display:block;
	width:100%;
	vertical-align:top;
	position:relative;
	background-color:#fac773;
	color:#45310f;
	padding:0 0 20px 0;
}
article.single.hrecipe .Cingredients{
	font-size:14px;
	display:block;
	width:100%;
	vertical-align:top;
	position:relative;
	background-color:#fac773;
	color:#45310f;
	padding:0 0 20px 0;
	text-align:left;
}
article.single.hrecipe .Cingredients a{
	color:#a7122f;
}

article.single.hrecipe .Cingredients .clipSolo{
	position:absolute;
	top:-21px;
	left:5px;
	width:27px;
	height:81px;
	z-index:10;
	background:url(images/clipSoloDR.png) no-repeat;
}
article.single.hrecipe .Cingredients ul{
	font-size:14px;
	line-height:21px;
	display:block;
	width:auto;
	margin:0;
	padding:0 0 0 40px;
}
article.single.hrecipe .Cingredients ul.recipe-details{
	list-style:none;
	font-size:0;
}
article.single.hrecipe .Cingredients ul.recipe-details.det-sup{
	padding:0 0 0 0;
	background-color:#ffdfaa;
}

article.single.hrecipe .Cingredients ul.recipe-details.detalles-abajo{
	padding:0 0 0 0;
	margin:5px 5px 15px 5px;
	background-color:#fff3e0;
	position:relative;
}
article.single.hrecipe .Cingredients ul.recipe-details.detalles-abajo .flechaArriba{
	position:absolute;
	right:40px;
	top:-17px;
	height:17px;
	width:49px;
	background:url(images/flechaArribaDR.png) no-repeat;
}
article.single.hrecipe .Cingredients ul.recipe-details li{
	display:inline-block;
	width:50%;
	font-size:12px;
	line-height:16px;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
	font-weight:600;
	vertical-align:top;
}
article.single.hrecipe .Cingredients ul.recipe-details li.prep{
	padding:7px 2px 7px 15px;
	text-align:right;
}
article.single.hrecipe .Cingredients ul.recipe-details li.cook{
	padding:7px 5px 7px 2px;
	text-align:left;
}
article.single.hrecipe .Cingredients ul.recipe-details li.raci{
	border-right:#ffeccc 1px solid;
	padding:7px 5px 7px 70px;
	margin:5px 0 5px 0;
	background:url(images/racionesDR.png) no-repeat 30px 5px;
}
article.single.hrecipe .Cingredients ul.recipe-details li.tTotal{
	border-left:#fbb542 1px solid;
	padding:7px 10px 7px 40px;
	margin:5px 0 5px 0;
	font-size:10px;
	background:url(images/tTotlaDR.png) no-repeat 10px 5px;
}
article.single.hrecipe .Cingredients h3{
	color:#584017;
	font-weight:normal;
	font-size:24px;
	line-height:24px;
	text-align:center;
	font-family:'Della Respira', serif;
	padding:10px 0 10px 0;
	margin:0 0 10px 0;
	border-top:#ffe5ba 1px solid;
	background:url(images/tituloIngredientesDR.png) no-repeat center;
}


/* COMENTARIOS */
.ContenedorComentarios{
	border-top:#f2f2f2 10px solid;
	display:block;
	width:80%;
	font-size:0;
	margin:0 10% 0 10%;
}
#comments{
	font-size:14px;
	line-height:18px;
	display:inline-block;
	width:65%;
	margin:20px 3% 20px 0;
	padding:20px 0 0 0;
	vertical-align:top;
}
#comments #comment-nav-below{
	width:100%;
	margin:10px 0 10px 0;
	display:block;
	font-size:0;
}
#comments #comment-nav-below .nav-previous{
	width:50%;
	display:inline-block;
	text-align:left;
	font-size:14px;
	line-height:18px;
}
#comments #comment-nav-below .nav-next{
	width:50%;
	display:inline-block;
	text-align:right;
	font-size:14px;
	line-height:18px;
}
#sidebar-desktop{
	font-size:14px;
	line-height:18px;
	width:30%;
	margin:20px 0 20px 2%;
	padding:20px 0 0 0;
	vertical-align:top;
}
#sidebar-coments{
	font-size:14px;
	line-height:18px;
	display:inline-block;
	width:30%;
	margin:20px 0 20px 2%;
	padding:20px 0 0 0;
	vertical-align:top;
}
#sidebar-coments h1,#sidebar-desktop h1{
	color:#a21b3e;
	font-weight:normal;
	font-size:20px;
	line-height:20px;
	text-align:left;
	font-family:'Della Respira', serif;
	padding:10px 0 10px 0;
	margin:0;
}

#comments h2{
	color:#5e5e5e!important;
	font-weight:normal!important;
	font-size:20px!important;
	line-height:20px!important;
	text-align:right!important;
	font-family:'Della Respira', serif!important;
	padding:0 0 10px 0!important;
	margin:0!important;
}
#comments ol{
	display:block;
	margin:0;
	padding:0;
}
#comments ol li{
	display:block;
	margin:0 0 10px 0;
	padding:20px 15px 20px 15px;
}
#comments ol li.comment{
	background-color:#f5f5f5;
	color:#292929;
}
#comments ol li.comment.byuser{
	background-color:#a21b3e;
	color:#FFF;
}
#comments ol li.comment.byuser a{
	color:#FFF;
}
#comments ol li.comment footer .comment-meta a{
	color:#4b4b4b;
}
#comments ol li.comment.byuser footer .comment-meta a{
	color:#ffe4c7;
}
#comments ol li footer .comment-author{
	font-size:16px;
	padding-right:10px;
	border-right:#292929 1px solid;
}
#comments ol li.comment.byuser footer .comment-author{
	border-right:#FFF 1px solid;
}
#comments ol li footer .comment-author,#comments ol li footer .comment-meta{
	display:inline-block;
	vertical-align:top;
}
#comments ol li .comment-content{
	font-style:italic;
	text-align:right;
}
#comments .comment-respond{
	display:block;
	margin:0 0 10px 0;
	padding:20px 15px 20px 15px;
	background-color:#a21b3e;
	color:#FFF;
}
#comments .comment-respond a{
	color:#FFF;
}
#comments .comment-respond{
	font-size:12px;
	font-weight:400;
}
#comments .comment-respond h3{
	display:block;
	margin:0;
	padding:0;
	font-size:18px;
	font-weight:400;
}

#comments .comment-respond label{
	display:block;
}
#comments .comment-respond input[type="text"],#comments .comment-respond textarea{
	display:block;
	width: 100%;
	border: 1px solid #FFF;
	color: #363636;
	background-color: #FFF;
	font-size: 11px;
	padding: 7px;
	margin: 0 0 10px 0;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
#comments .comment-respond .form-submit{
	text-align:right;
}
#comments .comment-respond #submit{
	display:inline-block;
	color: #a91231;
	background-color: #ffb96e;
	font-size: 14px;
	font-weight:600;
	padding: 10px;
	border:#FFF 1px solid;
	cursor:pointer;
}
.form-allowed-tags{
	display:none;
}

/*NAV BELOW */
nav#nav-below{
	display:block;
	width:80%;
	font-size:0;
	margin:10px 10% 10px 10%;
}
nav#nav-below .nav-previous{
	display:inline-block;
	width:50%;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
	background:url(images/flechaIzqDR.png) no-repeat 0 0;
}
nav#nav-below .nav-next{
	display:inline-block;
	width:50%;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
	text-align:right;
	background:url(images/flechaderDR.png) no-repeat right;
}
nav#nav-below .nav-previous a{
	display:inline-block;
	padding:10px;
	font-size: 14px;
	line-height:16px;
	background-color:#ffe4c7;
	margin-left:15px;
	
}
nav#nav-below .nav-next a{
	display:inline-block;
	padding:10px;
	font-size: 14px;
	line-height:16px;
	background-color:#ffe4c7;
	margin-right:15px;
}

/*///////////////////////////////////////////////////////
FOOTER
///////////////////////////////////////////////////////*/
footer#colophon{
	background:#363636 url(images/recetasdemama-sign.png?jcb=1337530905) no-repeat center 15px;
	padding:70px 0 20px 0;
	font-size: 0;
	overflow: hidden;
}
footer#colophon a       {color: #FFF;}
footer#colophon a:hover {color: #FFF;border:0} 

/* FOOTER 1 */
#sidebar-footer .widget{
	display:inline-block;
	vertical-align:top;
	margin:5px 0 10px 0;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
#sidebar-footer .widget_categories{
	
	border-right:#252525 1px solid;
}
#sidebar-footer .nsu_widget{
	
	border-right:#252525 1px solid;
}
#sidebar-footer .widget_siguenos_wg{
	
}
#sidebar-footer  h1.widget-title {
	font-size: 20px;
	line-height:22px;
	color:#FFF;
	font-weight:600;
}
footer#colophon #sidebar-footer  h1.widget-title {
	padding:0 0 0 16px;
	background:url(images/flagDR.png) no-repeat;
}
/* Categories List */
.widget_categories ul{
	font-size:11px;
	margin: 0;
	padding: 0;
}
.widget_categories ul li{
	padding:0;
	background: url(images/puntoDR.png) 0 7px no-repeat;
	padding-left: 12px;
	margin:0 10px 5px 0;
	font-weight:normal;
	display:inline-block;
	width:125px;
}
/* Subscribe Box */
.nsu_widget {
	margin: 0;
	position:relative;
}
.nsu_widget label  {
	display:block;
	color:#fff;
	font-size:11px;
	line-height:13px;
	margin:0 0 3px 0;
}
.nsu_widget input[type=text],.nsu_widget input[type=email]  {
	display:block;
	width:60%;
	border: 1px solid #FFF;
	color:#363636;
	background-color:#FFF;
	font-size:11px;
	padding: 7px;
	margin:0 0 10px 0;
}
.nsu_widget input[type=submit] {
	border: 0;
	margin:0;
	padding:7px 12px 7px 12px;
	color: #FFF;
	font-weight: 400;
	text-align: center;
	background-color:#a21a3e;
	position:absolute;
	right:20px;
	bottom:10px;
	font-size:14px;
}
/* Social */
#colophon ul.social li a {
	background: url(images/social.png) no-repeat;
	padding: 4px 0 4px 35px;
	margin: 3px 0;
	display: block;
	color:#FFF;
	font-size:11px;
	line-height:16px;
}
#colophon ul.social li.facebook a {background-position: 0   -106px;}
#colophon ul.social li.twitter a  {background-position: 0 -133px;}
#colophon ul.social li.youtube a  {background-position: 0 -158px;}
#colophon ul.social li.rss a      {background-position: 0 -184px;}

#colophon ul.social li.facebook a:hover {background-position: 0   0px;}
#colophon ul.social li.twitter a:hover  {background-position: 0 -27px;}
#colophon ul.social li.youtube a:hover  {background-position: 0 -53px;}
#colophon ul.social li.rss a:hover      {background-position: 0 -79px;}

/*///////////////////////////////////////////////////////
FOOTER 2
///////////////////////////////////////////////////////*/
footer#colophon2{
	background:url(images/fondo-rojo.jpg) repeat #a91231;
	padding:40px 0 40px 0;
	font-size: 0;
	overflow: hidden;
}
footer#colophon2 a       {color: #FFF;}
footer#colophon2 a:hover {color: #FFF;border:0} 
.caricatura{
	background:url(images/caricaturaDR.png) no-repeat center;
}
#sidebar-footer .Wantes{
	width:20%;
	height:1px;
}
#sidebar-footer .widget_execphp{
	width:20%;
}
#sidebar-footer .widget_text{
	width:20%;
}

#sidebar-footer .widget_text#text-309607478{
	width:20%;
	height:241px;
}
#sidebar-footer .Wdespues{
	width:20%;
	height:1px;
}
/* Otros Blogs */
.widget_execphp ul{
	font-size:11px;
	margin: 0;
	padding: 0;
}
.widget_execphp ul li{
	padding:0;
	background: url(images/puntoDR.png) 0 7px no-repeat;
	padding-left: 12px;
	margin:0 10px 5px 0;
	font-weight:normal;
	display:block;
}
/* Boton tienda  y sobre nosotros*/
.widget_text ul{
	font-size:11px;
	margin: 0;
	padding: 0;
}
.widget_text ul li{
	padding:0;
	background: url(images/puntoDR.png) 0 7px no-repeat;
	padding-left: 12px;
	margin:0 10px 5px 0;
	font-weight:normal;
	display:block;
}
.widget_text .tienda-button {
	border: 0;
	margin:0;
	padding:7px 0 7px 0;
	color: #FFF;
	font-weight: normal;
	text-align: center;
	background-color:#fc7700;
	display:block;
	font-size:15px;
	width:90px;
}
/* Foto recetas de mama */
#sidebar-footer .textwidget{

}

/*  STICKYS */
.Contenidostickys{
	height:380px;
	width:100%;
	font-size:0;
	background-color:#FFF;
}
.stickys{
	display:inline-block;
	height:380px;
	overflow:hidden;
	position:relative;
}
.stickys.Sticky-1-1{
	width:100%;
}
.stickys.Sticky-1-2,.stickys.Sticky-2-2{
	width:49.5%;
	margin-right:0.5%;
}
.stickys.Sticky-1-3{
	width:49.5%;
	margin-right:0.5%;
}
.stickys.Sticky-2-3{
	width:19.5%;
	margin-right:0.5%;
}
.stickys.Sticky-3-3{
	width:30%;
}
.stickys a.tit{
	position:absolute;
	padding:15px;
	background-color:#FFF;
	color: #a51a41;
	font-weight: normal;
	font-size: 20px;
	line-height: 20px;
	font-family: 'Della Respira', serif;
}
.stickys.Sticky-1-1 a.tit{
	top:20px;
	right:0;
}
.stickys.Sticky-1-2 a.tit{
	top:20px;
	right:0;
}
.stickys.Sticky-2-2 a.tit{
	bottom:20px;
	left:0;
}
.stickys.Sticky-1-3 a.tit{
	top:20px;
	right:0;
}
.stickys.Sticky-2-3 a.tit{
	bottom:20px;
	left:0;
}
.stickys.Sticky-3-3 a.tit{
	top:20px;
	left:0;
}
.stickys img{
	position:absolute;
	top:0;
	left:0;
	display:none;
}

/*CATEGORIAS */
h1.tituloCategorias{
	color: #6B0C1A;
	font-weight: normal;
	font-family: 'Della Respira', serif;
	display:block;
	text-align:center;
	margin:25px 0 0 0 ;
	font-size: 0;
}
h1.tituloCategorias div.left{
	width:60px;
	height:35px;
	display:inline-block;
	background: url(images/1.png) no-repeat center;
	vertical-align:top;
}
h1.tituloCategorias div.right{
	width:60px;
	height:35px;
	display:inline-block;
	background: url(images/2.png) no-repeat center;
	vertical-align:top;
}
h1.tituloCategorias div.text{
	display:inline-block;
	vertical-align:top;
	margin:0;
	padding:0;
	font-size: 30px;
	line-height: 35px;
}
